<!DOCTYPE html>
<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<body>
<div class="row justify-content-center" id="profile">
{#<table width="90%" border="1">
  <tr>
  <th width="25%">Recent Submissions</th>
  <th width="25%"><button onclick="displayCodeRxProblems()" class="btn btn-primary btn-lg btn-block">CodeRx Problems</button> </th>
  <th width="25%">Assigned</th>
  <th width="25%"><button onclick="calendar()"class="btn btn-primary btn-lg btn-block">Calendar</button></th>
  </tr>
  <tr>
  <th>submissions table</th>
  <th>
  

	  </th>
  <th>example text</th>
  <th>example text</th>
  </tr>
</table>#}
</div>
<meta charset='utf-8' />

    <link href='static/daygrid/main.min.css' rel='stylesheet' />
    <link href='static/daygrid/daygrid.css' rel='stylesheet' />

    <script src='static/daygrid/main.min.js'></script>
    <script src='static/daygrid/daygrid.js'></script>
    <script>
      var events =[{},]
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid' ],
          timeZone: 'UTC',
          defaultView: 'dayGridMonth',
          events
        });
        calendar.render();
      });

    </script>
    <style>
    #calendar{
      text-align: center;
      margin-top: 20px;
    }
    #scrolltable {text-align: center; margin-top: 20px; height: 50%; overflow: auto;}
    </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div id="scrolltable">
            <table class="table table-dark table-bordered" > 
              <thead>
                <tr>
                  <th width="40%">Current Problems</th>
                  <th>Class</th>
                  <th width="20%">Due Date</th>
                </tr>
              </thead>
              <tbody>
                {% for case in current_problems %}
                  <tr>
                    <th>
                      {#<button onclick="{{case}}()" class="btn btn-primary btn-lg btn-block" style="padding: 5px;">{{case.name}}</button>#}
                      <a href="{{ url_for('homepage') }}">{{case.name}}</a></th>
                    <th>{{case.class}}</th>
                    <th>{{case.due_date}}</th>
                    <script>

                      {# This script populates the calendar based on current_problems 
                        I wrote this disgusting substring bs and dont remember how it works 5 minutes later
                        - Jeffrey#}

                      var originalDate = new String('{{case.due_date}}');
                      var date = ('20' + originalDate.substring(originalDate.length-2) + '-' + 
                        originalDate.substring(0,originalDate.length-3));
                      var day = parseInt(originalDate.substring(3,originalDate.length-3));
                      var end_date = (date.substring(0,6) + '(day+1)');
                      events.push({title: '{{case.name}} hw due', start: date, end: end_date});
                    </script>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="scrolltable">
            <table class="table table-dark table-bordered"> 
              <thead>
                <tr>
                  <th width="40%">Past Problems</th>
                  <th>Class</th>
                  <th width="20%">Grade</th>
                </tr>
              </thead>
              <tbody>
                {% for case in past_problems %}
                  <tr>
                    <th><a href="{{ url_for('homepage') }}">{{case.name}}</a></th>
                    <th>{{case.class}}</th>
                    <th>{{case.grade}}</th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
          <div id='calendar' class="col-lg-8"></div>
        </div>
      </div>
  </body>

<script>function calendar() {
  var x = document.getElementById("calendar");
  document.getElementById("CodeRxProblems").style.display = "none";
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<script>function displayCodeRxProblems() {
}
</script>
{% endblock %}