

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hello user</h1>
    <div id="container" style="height:100%;"></div>


    <script src="{{ url_for('static', filename='node_modules/monaco-editor/min/vs/loader.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/monaco-editor/min/vs/editor/editor.main.nls.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/monaco-editor/min/vs/editor/editor.main.js')}}"></script>
    

    <script>
        var editor = monaco.editor.create(document.getElementById("container"), {
            value: "// First line\nfunction hello() {\n\talert('Hello world!');\n}\n// Last line",
            language: "javascript",
        
            lineNumbers: "on",
            roundedSelection: false,
            scrollBeyondLastLine: false,
            readOnly: false,
            theme: "vs-dark",
        });
    </script>
{% endblock %}